{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}
<div class="ui container" style="margin-top: 80px; text-align: center;">
    <h1 class="ui header">Fresh & Organic Fruits and Vegetables & Salame</h1>
    <p>Get produce delivered straight to your door!</p>
</div>

<div class="ui container">  <div class="ui centered grid">
    <div class="ui three column row equal divided">
        <div class="ui centered">
      <div class="ui column">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/046/822/483/small_2x/a-vibrant-assortment-of-fresh-fruits-and-vegetables-isolated-on-a-transparent-background-free-png.png" class="ui centered image">
        <div class="ui centered"> <a href="{% url 'dashboard' %}" class="ui blue button">Order Now</a> </div>
      </div></div>
    </div>
  </div>
</div>
{% endblock %}