{% extends "base.html" %}
{% block title %} Settings {% endblock %}

{% block body %}
<div class="ui container" style="margin-top: 80px; text-align: center;">
    {% if messages %}
        <div class="ui message">  {% for message in messages %}
            <div class="ui {% if message.tags == 'success' %}positive{% elif message.tags == 'error' %}negative{% elif message.tags == 'warning' %}warning{% elif message.tags == 'info' %}info{% endif %} message">
            <i class="close icon"></i>
            {{ message }}
            </div>
        {% endfor %}
        </div>
            <script>
            $('.message .close')
            .on('click', function() {
                $(this)
                .closest('.message')
                .transition('fade');
            });
            </script>
    {% endif %}
    <h1 class="ui header">Add elements</h1>
    <form class="ui large form" method="POST" enctype="multipart/form-data" action="{% url 'process' %}">
        {% csrf_token %}
        <div class="ui file input">
            <input type="file" id = "zip" name="zip" accept=".zip">
        </div>
        <button class="ui fluid large teal submit button">Upload</button>
    </form>
</div>

{% endblock %}